[submodule "third_party/discli"]
	path = third_party/discli
	url = https://github.com/Quiterion/discli
	branch = disclaw-patches
[submodule "third_party/pi"]
	path = third_party/pi
	url = https://github.com/earendil-works/pi
